<h1>Show Post Page</h1>

<p>
<%= @post.post_text %><br>
<%= link_to "edit", edit_post_path(@post.id) %>
| <%= link_to "delete", post_path(@post.id), method: :delete %>
</p>

<h3>Categories</h3>
<% @post.categories.each do |category| %>
  <li><%= link_to "#{category.name}", category_path(category.id) %></li>
<% end %>

<p> 
<%= link_to "back to posts", posts_path %>
</p>
